# Notebook Exploratory Data Analysis

In [66]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Gas Turbine

## Asteroid Classification

In [30]:
df = pd.read_csv('res/data/nasa.csv')
df.head()

,Neo Reference ID,Name,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Est Dia in M(min),Est Dia in M(max),Est Dia in Miles(min),Est Dia in Miles(max),Est Dia in Feet(min),...,Asc Node Longitude,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion,Equinox,Hazardous
0,3703080,3703080,21.6,0.127220,0.284472,127.219879,284.472297,0.079051,0.176763,417.388066,...,314.373913,609.599786,0.808259,57.257470,2.005764,2.458162e+06,264.837533,0.590551,J2000,True
1,3723955,3723955,21.3,0.146068,0.326618,146.067964,326.617897,0.090762,0.202951,479.225620,...,136.717242,425.869294,0.718200,313.091975,1.497352,2.457795e+06,173.741112,0.845330,J2000,False
2,2446862,2446862,20.3,0.231502,0.517654,231.502122,517.654482,0.143849,0.321655,759.521423,...,259.475979,643.580228,0.950791,248.415038,1.966857,2.458120e+06,292.893654,0.559371,J2000,True
3,3092506,3092506,27.4,0.008801,0.019681,8.801465,19.680675,0.005469,0.012229,28.876199,...,57.173266,514.082140,0.983902,18.707701,1.527904,2.457902e+06,68.741007,0.700277,J2000,False
4,3514799,3514799,21.6,0.127220,0.284472,127.219879,284.472297,0.079051,0.176763,417.388066,...,84.629307,495.597821,0.967687,158.263596,1.483543,2.457814e+06,135.142133,0.726395,J2000,True

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4687 entries, 0 to 4686
Data columns (total 40 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Neo Reference ID              4687 non-null   int64
 1   Name                          4687 non-null   int64
 2   Absolute Magnitude            4687 non-null   float64
 3   Est Dia in KM(min)            4687 non-null   float64
 4   Est Dia in KM(max)            4687 non-null   float64
 5   Est Dia in M(min)             4687 non-null   float64
 6   Est Dia in M(max)             4687 non-null   float64
 7   Est Dia in Miles(min)         4687 non-null   float64
 8   Est Dia in Miles(max)         4687 non-null   float64
 9   Est Dia in Feet(min)          4687 non-null   float64
 10  Est Dia in Feet(max)          4687 non-null   float64
 11  Close Approach Date           4687 non-null   object
 12  Epoch Date Close Approach     4687 non-null   int64
 13  Relative Velocity km per sec  4687 non-null   float64
 14  Relative Velocity km per hr   4687 non-null   float64
 15  Miles per hour                4687 non-null   float64
 16  Miss Dist.(Astronomical)      4687 non-null   float64
 17  Miss Dist.(lunar)             4687 non-null   float64
 18  Miss Dist.(kilometers)        4687 non-null   float64
 19  Miss Dist.(miles)             4687 non-null   float64
 20  Orbiting Body                 4687 non-null   object
 21  Orbit ID                      4687 non-null   int64
 22  Orbit Determination Date      4687 non-null   object
 23  Orbit Uncertainity            4687 non-null   int64
 24  Minimum Orbit Intersection    4687 non-null   float64
 25  Jupiter Tisserand Invariant   4687 non-null   float64
 26  Epoch Osculation              4687 non-null   float64
 27  Eccentricity                  4687 non-null   float64
 28  Semi Major Axis               4687 non-null   float64
 29  Inclination                   4687 non-null   float64
 30  Asc Node Longitude            4687 non-null   float64
 31  Orbital Period                4687 non-null   float64
 32  Perihelion Distance           4687 non-null   float64
 33  Perihelion Arg                4687 non-null   float64
 34  Aphelion Dist                 4687 non-null   float64
 35  Perihelion Time               4687 non-null   float64
 36  Mean Anomaly                  4687 non-null   float64
 37  Mean Motion                   4687 non-null   float64
 38  Equinox                       4687 non-null   object
 39  Hazardous                     4687 non-null   bool
dtypes: bool(1), float64(30), int64(5), object(4)
memory usage: 1.4+ MB

In [32]:
# Drop columns with irrelevant information, repetitions (such as KM and Miles) and static values (such as 'Orbiting Body' and 'Equinox')
df = df.drop(['Neo Reference ID', 'Name', 'Orbit ID', 'Close Approach Date',
                        'Epoch Date Close Approach', 'Orbit Determination Date', 'Est Dia in KM(max)', 'Est Dia in M(min)', 'Est Dia in M(max)', 'Est Dia in Miles(min)'
             ,'Est Dia in Miles(max)', 'Est Dia in Feet(min)', 'Est Dia in Feet(max)', 
             'Relative Velocity km per hr', 'Miles per hour', 'Miss Dist.(lunar)', 
             'Miss Dist.(kilometers)', 'Miss Dist.(miles)', 'Orbiting Body', 'Equinox'] , axis = 1)
df.head()

,Absolute Magnitude,Est Dia in KM(min),Relative Velocity km per sec,Miss Dist.(Astronomical),Orbit Uncertainity,Minimum Orbit Intersection,Jupiter Tisserand Invariant,Epoch Osculation,Eccentricity,Semi Major Axis,Inclination,Asc Node Longitude,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion,Hazardous
0,21.6,0.127220,6.115834,0.419483,5,0.025282,4.634,2458000.5,0.425549,1.407011,6.025981,314.373913,609.599786,0.808259,57.257470,2.005764,2.458162e+06,264.837533,0.590551,True
1,21.3,0.146068,18.113985,0.383014,3,0.186935,5.457,2458000.5,0.351674,1.107776,28.412996,136.717242,425.869294,0.718200,313.091975,1.497352,2.457795e+06,173.741112,0.845330,False
2,20.3,0.231502,7.590711,0.050956,0,0.043058,4.557,2458000.5,0.348248,1.458824,4.237961,259.475979,643.580228,0.950791,248.415038,1.966857,2.458120e+06,292.893654,0.559371,True
3,27.4,0.008801,11.173874,0.285322,6,0.005512,5.093,2458000.5,0.216578,1.255903,7.905894,57.173266,514.082140,0.983902,18.707701,1.527904,2.457902e+06,68.741007,0.700277,False
4,21.6,0.127220,9.840831,0.407832,1,0.034798,5.154,2458000.5,0.210448,1.225615,16.793382,84.629307,495.597821,0.967687,158.263596,1.483543,2.457814e+06,135.142133,0.726395,True

In [34]:
#Convert target values to binary
df['Hazardous'] = df['Hazardous'].astype(int)
df['Hazardous'].value_counts()

Hazardous
0    3932
1     755
Name: count, dtype: int64

In [42]:
df.head()

,Absolute Magnitude,Est Dia in KM(min),Relative Velocity km per sec,Miss Dist.(Astronomical),Orbit Uncertainity,Minimum Orbit Intersection,Jupiter Tisserand Invariant,Epoch Osculation,Eccentricity,Semi Major Axis,Inclination,Asc Node Longitude,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion,Hazardous
0,21.6,0.127220,6.115834,0.419483,5,0.025282,4.634,2458000.5,0.425549,1.407011,6.025981,314.373913,609.599786,0.808259,57.257470,2.005764,2.458162e+06,264.837533,0.590551,1
1,21.3,0.146068,18.113985,0.383014,3,0.186935,5.457,2458000.5,0.351674,1.107776,28.412996,136.717242,425.869294,0.718200,313.091975,1.497352,2.457795e+06,173.741112,0.845330,0
2,20.3,0.231502,7.590711,0.050956,0,0.043058,4.557,2458000.5,0.348248,1.458824,4.237961,259.475979,643.580228,0.950791,248.415038,1.966857,2.458120e+06,292.893654,0.559371,1
3,27.4,0.008801,11.173874,0.285322,6,0.005512,5.093,2458000.5,0.216578,1.255903,7.905894,57.173266,514.082140,0.983902,18.707701,1.527904,2.457902e+06,68.741007,0.700277,0
4,21.6,0.127220,9.840831,0.407832,1,0.034798,5.154,2458000.5,0.210448,1.225615,16.793382,84.629307,495.597821,0.967687,158.263596,1.483543,2.457814e+06,135.142133,0.726395,1

In [43]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

X = df.drop(columns=['Hazardous']) #Features
y = df['Hazardous'] #Target

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Random Forest
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

# Sort by feature importance
importances = rf.feature_importances_
feature_names = X.columns
feature_importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': importances})
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)
print(feature_importance_df)

                         Feature  Importance
5     Minimum Orbit Intersection    0.446351
1             Est Dia in KM(min)    0.184671
0             Absolute Magnitude    0.135418
10                   Inclination    0.044079
13           Perihelion Distance    0.037795
4             Orbit Uncertainity    0.034586
3       Miss Dist.(Astronomical)    0.019975
2   Relative Velocity km per sec    0.014899
8                   Eccentricity    0.013483
15                 Aphelion Dist    0.010852
9                Semi Major Axis    0.009241
14                Perihelion Arg    0.008997
6    Jupiter Tisserand Invariant    0.008247
17                  Mean Anomaly    0.006946
18                   Mean Motion    0.006677
12                Orbital Period    0.006227
16               Perihelion Time    0.005574
11            Asc Node Longitude    0.004375
7               Epoch Osculation    0.001605

In [48]:
print(df.columns)

#Select the most important features
important_features = [
    'Minimum Orbit Intersection',
    'Absolute Magnitude',
    'Est Dia in KM(min)',
    'Orbit Uncertainity',
    'Inclination', 
    'Eccentricity',
    'Miss Dist.(Astronomical)',
    'Relative Velocity km per sec',
    'Aphelion Dist',
    'Perihelion Arg',
    'Hazardous',
]

df_selected = df[important_features]
df_selected.head()

Index(['Absolute Magnitude', 'Est Dia in KM(min)',
       'Relative Velocity km per sec', 'Miss Dist.(Astronomical)',
       'Orbit Uncertainity', 'Minimum Orbit Intersection',
       'Jupiter Tisserand Invariant', 'Epoch Osculation', 'Eccentricity',
       'Semi Major Axis', 'Inclination', 'Asc Node Longitude',
       'Orbital Period', 'Perihelion Distance', 'Perihelion Arg',
       'Aphelion Dist', 'Perihelion Time', 'Mean Anomaly', 'Mean Motion',
       'Hazardous'],
      dtype='object')

,Minimum Orbit Intersection,Absolute Magnitude,Est Dia in KM(min),Orbit Uncertainity,Inclination,Eccentricity,Miss Dist.(Astronomical),Relative Velocity km per sec,Aphelion Dist,Perihelion Arg,Hazardous
0,0.025282,21.6,0.127220,5,6.025981,0.425549,0.419483,6.115834,2.005764,57.257470,1
1,0.186935,21.3,0.146068,3,28.412996,0.351674,0.383014,18.113985,1.497352,313.091975,0
2,0.043058,20.3,0.231502,0,4.237961,0.348248,0.050956,7.590711,1.966857,248.415038,1
3,0.005512,27.4,0.008801,6,7.905894,0.216578,0.285322,11.173874,1.527904,18.707701,0
4,0.034798,21.6,0.127220,1,16.793382,0.210448,0.407832,9.840831,1.483543,158.263596,1

In [57]:
df_selected['Hazardous'].value_counts()

Hazardous
0    3932
1     755
Name: count, dtype: int64

Syntethic Dataset, generated by following Molnar et. al.

In [74]:
import numpy as np
import pandas as pd
from scipy.special import expit

# Step 1: Define the number of samples and features
n_samples = 1000
n_features = 10

# Step 2: Generate independent features from a uniform distribution to ensure positive values
np.random.seed(42)
independent_features = np.random.uniform(0.1, 10, (n_samples, n_features))

# Step 3: Generate dependent features
dependent_features = np.zeros((n_samples, 3))
dependent_features[:, 0] = independent_features[:, 0] + 2 * independent_features[:, 1]  # Linear combination, guaranteed positive
dependent_features[:, 1] = np.sin(independent_features[:, 2]) + (independent_features[:, 3] ** 2)  # Non-linear combination, positive since sin(x) >= -1 and (x^2) >= 0
dependent_features[:, 2] = np.log1p(independent_features[:, 4]) + np.exp(independent_features[:, 5])  # Non-linear combination, log1p and exp produce positive values

# Step 4: Combine features into a single DataFrame
all_features = np.hstack((independent_features, dependent_features))
columns = [f'feature_{i+1}' for i in range(all_features.shape[1])]
df_synthetic = pd.DataFrame(all_features, columns=columns)

# Step 5: Generate a target variable with a logistic relationship using both independent and dependent features
logit_target = (0.3 * independent_features[:, 0] +
                0.2 * dependent_features[:, 0] +
                0.1 * np.sin(independent_features[:, 2]) +
                0.1 * np.exp(independent_features[:, 5]) +
                0.1 * np.log1p(dependent_features[:, 2]) -
                100)  # Increase the threshold to get more 0s

# Step 6: Apply the logistic function to convert to probabilities
prob_target = expit(logit_target)

# Step 7: Generate binary target based on these probabilities
binary_target = np.random.binomial(1, prob_target)

df_synthetic['target'] = binary_target

# Step 6: Verify the synthetic dataset
print(df_synthetic.head())

   feature_1  feature_2  feature_3  feature_4  feature_5  feature_6  \
0   3.807947   9.512072   7.346740   6.026719   1.644585   1.644346
1   0.303786   9.702108   8.341182   2.202157   1.900067   1.915705
2   6.157344   1.480989   2.992232   3.726982   4.615093   7.873242
3   6.114694   1.788189   0.744011   9.493967   9.659757   8.103134
4   1.308179   5.002251   0.440446   9.102272   2.661922   6.658971

   feature_7  feature_8  feature_9  feature_10  feature_11  feature_12  \
0   0.675028   8.675144   6.051039    7.109919   22.832090   37.195430
1   3.111998   5.295089   4.376256    2.983168   19.708002    5.733143
2   2.076770   5.190921   5.964904    0.559859    9.119322   14.039203
3   3.115676   1.066954   6.873907    4.457510    9.691072   90.812650
4   3.185940   5.248673   5.512432    1.930059   11.312681   83.277698

    feature_13  target
0     6.150135       0
1     7.856457       0
2  2627.791012       1
3  3307.174772       1
4   781.045851       0

In [75]:
df_synthetic['target'].value_counts()

target
0    685
1    315
Name: count, dtype: int64